* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }/*
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


div{
    height: 200px;
    width: 200px;
    background-color: rgb(230, 230, 12);
    transition-duration:5s ;
    transition-property: all;
    transition-timing-function:ease;
    transition-delay: 1s;
    transition: ease 0.5 all 1s;
    
}
div:hover{
    height: 400px;
    width: 400px;
    background-color: aqua;
    transform: translate(20px,50px)

} 

   
div {
    height: 200px;
    width: 200px;
    background-color: rgb(23, 206, 230);
    position: relative;
    animation-name: play;
    animation-duration: 1s;
    animation-fill-mode: ;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
div::before {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
}
@keyframes play {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
        border-radius: 20px;
    }
}
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    height: 400px;
    background-color: rgb(5, 170, 247);
    position: relative;
}

div.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(21, 22, 23);
    animation-duration: 2s;
    animation-name: motion;
    animation-iteration-count: infinite;
    position: absolute;
    /* bottom: 0px; */
}
div.ball:nth-child(2){
    background-color: rgb(233, 216, 216);
    animation-delay: 1s;
}

div.ball:nth-child(3){
    background-color: rgb(14, 232, 72);
    animation-delay: 0.5s;
}

@keyframes motion {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(900px, 200px);
    }
    50% {
        transform: translate(0, 350px);
    }
    75% {
        transform: translate(100px, 350px);
    }
    90% {
        transform: translate(10, 10000);
    }
    100% {
        transform: translate(0, 0);
    }
}